
.chat-box {
  background-color: rgba(50, 100, 131, 0.64);
  background-blend-mode: multiply;
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  border: 1px solid black;
  max-height: 100vh;
}
#chat-name {
  text-align: center;
  padding-left: 0 !important;
}
#input-box {
  padding: 0;
  margin: 0;
  width: 100%;
  align-self: flex-end;
  display:inline-block !important;
}
#input-box input {
  width: 60%;
}
#input-box button{
  width: 40%;
}
.break {
  flex-basis: 100%;
  height: 0;
}
.chat {
  padding-left: 1vh;
  text-align: left;
  overflow-y: scroll;
  width: 100%;
  height: 87vh;
  word-break: break-word;
}
.chat h3 {
  color: rgb(33, 122, 33);
  text-align: center;
}
.chat li {
  color: #b4b0b0 !important;
  font-family: "Times New Roman" !important;
  color: black;
  background-color: rgba(31, 32, 114, 0.56);
  background-blend-mode: multiply;
  margin-top: 1vh;
  border-radius: 5%;
  padding: 1vh;
  display:inline-block;
  max-width: 80%;
  text-align: left;
}
.info-box > input {
  width: 80%;
}
.info-box > button {
  width:20%;
}
.chat-spacer{
  display:block;
}
ul.chat {
  list-style: none;
}
.author-message{
  text-align: left !important;
}
.someone-message{
 text-align: right;
}
.hp {
  padding: 2vh;
  padding-bottom: 0;
}

